tr th:nth-child(2) {
    width: 70px;
}

tr th:nth-child(3) {
    width: 39px;
}

tr th:nth-child(4) {
    width: 39px;
}

tr th:nth-child(5) {
    width: 110px;
}

tr th:nth-child(6) {
    width: 60px;
}

tr th:nth-child(7) {
    width: 60px;
}

tr th:nth-child(8) {
    width: 80px;
}

tr th:nth-child(11) {
    width: 40px;
}
