.search input {
    margin-right: 15px;
}

.search {
    display: none;
    margin-bottom: 10px;
    padding-left: 10px;
}

.search #state_text{
    margin-left: 10px;
    margin-right: 10px;
}


tr td:nth-child(1){
    width: 10%;
}

tr td:nth-child(3){
    width: 20%;
}

tr td:nth-child(5){
    width: 5%;
}
