.form {
    padding-left: 15px;
}

.form input {
    margin-right: 15px;
}

#content .base_info .row {
    margin-top: 25px;
}

#content .base_info .row2 .get_time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#content .base_info .row2 .get_time input:nth-child(1) {
    margin-right: 10px;
}

#content .base_info .row2 .get_time input:nth-child(2) {
    margin-left: 10px;
}

#content .image {
    margin-top: 20px;
}

#content .image .item {
    text-align: center;
}


#content .image .item .holder {
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    text-align: center;
    min-height: 150px;
}

#content .image .item  .holder:active {
    background-color: #eee;
}


#content .image .item .holder img {
    width: 100%;
    max-width: 250px;
}

.detail {
    padding-top: 30px;
}

.detail .title {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 15px;
}

.detail .title h5 {
    margin-bottom: 0px;
}

.detail .title span {
    color: #e51c23;
    margin-left: 10px;
}

.detail .row {
    margin-bottom: 30px;
}

.detail .row .item {
    text-align: center;
}

.detail .row .item img {
    width: 100%;
}

.detail .row .add {
    width: 100%;
    padding: 10%;
}

.detail .row .add:active {
    background: #eee;
}

.detail #detail_header_imageList .item button{
    margin-top: 5px;
}

.detail #detail_content_imageList .item button{
    margin-top: 5px;
}

.operation {
    margin-top: 20px;
    margin-bottom: 20px;
}