<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-bp1770f455j050g78.mysql.rds.aliyuncs.com/r0nd38v04o"/>
                <property name="username" value="r0nd38v04o"/>
                <property name="password" value="12345!aA"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="top.knxy.fruits.WxMiniApi.Service.Index.DataSource"/>
        <mapper class="top.knxy.fruits.WxMiniApi.Service.Address.DataSource"/>

    </mappers>
</configuration>